@font-face {
  font-family: Raleway;
  src:
    url(fonts/Raleway-Regular.woff2) format('woff2'),
    url(fonts/Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(fonts/Raleway-Bold.woff2) format('woff2'),
    url(fonts/Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: Raleway, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__menu-ul,
.links-item,
.cover__text,
.frame-text,
.lots-text,
.about-text,
.footer__menu-list {
    font-family: Raleway;
    font-weight: 400;
    letter-spacing: 0%;
}

.cover-word,
.frame-title,
.h2 {
    font-family: Raleway;
    font-weight: 700;
}

.header-form {
    width: 100%;
    height: 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 0 50px;
    padding-top: 92px;
    padding-bottom: 92px;
}

.header__menu {
    color: rgba(0, 0, 0, 1);
}

.header__menu-ul {
    font-size: 18px;
    line-height: 100%;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.header__menu-item {
    list-style-type: none;
    color: inherit;
}

.header__menu-items {
    list-style-type: circle;
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__menu-link:hover {
    color: rgba(0, 0, 0, 1);
}

.header__menu-link:visited {
    color: rgba(0, 0, 0, 1);
}

.menu-item {
    display: list-item;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__logo-image {
    height: 105px;
    width: 148px;
}

.header__links {
    color: rgba(0, 0, 0, 1);
    width: 240px;
}

.links-item {
    display: block;
    font-size: 18px;
    line-height: 24.3px;
    color: inherit;
}

.links-item1 {
    text-decoration: underline;
    text-underline-offset: 4px;
}



.cover {
    position: relative;
    width: 100%;
    height: 757px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.cover-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: absolute;
  top: 165px;
  left: 50px;
  right: 50px;
  z-index: 3;
}

.cover-word {
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  gap: 30px;
}

.ono {
  justify-content: flex-start;
  padding-bottom: 20px;
}

.tebe {
  justify-content: center;
}

.nado {
  justify-content: flex-end;
  padding-top: 20px;
}

.cover__description {
  max-width: 1000px; 
  margin: 0 50px;
  position: absolute;
  bottom: 50px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  word-spacing: 18px;
}

.cover__button {
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 107px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  padding: 12px 32px 11px 31px;
  border-color: white;
}



.block-lots {
    width: 100%;
    height: 723px;
    margin-top: 180px;
}

h2 {
    width: 121px;
    height: 47px;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: 64px;
}

.lots {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 0 24px;
    max-width: 1100px;
    margin: 0 auto;
}

.frame {
    position: relative;
    width: calc(33.333% - 20px);
    max-width: 334px;
    height: 596px;
    margin: 27px 0 30px;
}

.frame-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
}

.frame-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.frame-title-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    box-sizing: border-box;
}

.frame-title {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    color: white;
}

.frame-text {
    font-size: 20px;
    line-height: 120%;
    color: white;
    margin: 0;
}

.lots-text {
    font-size: 20px;
    line-height: 100%;
    margin-left: 64px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    text-underline-offset: 5px;
}



.about {
    width: 100%;
    height: auto;
    margin-top: 120px;
}

.about__box {
    display: flex;
    margin: 120px 0 8px;
}

.about-logo {
    margin: 35px 72px 0 71px;
    position: relative;
    width: 240px;
    height: 240px;
}

.about-circle {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.about-image {
    position: absolute;
    z-index: 2;
    width: 141.5449676513672px;
    height: 112.55000305175781px;
    top: 64px;
    left: 46.48px;
}

.about-title {
    place-content: center;
    margin-left: 0;
    margin-top: 35px;
    display: inline-block;
    padding: 101px 0 92px 0;
}

.about-text {
    width: 693px;
    height: 312px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 383px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.footer {
    width: 100%;
    height: 180px;
    margin-top: 180px;
}

.footer-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.footer__links {
    width: 240px;
    color: rgba(0, 0, 0, 1);
}

.footer__menu-list {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer__menu-item {
    display: block;
    height: 21px;
    line-height: 1;
    margin: 0;
}


.footer__menu-item1 {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__images {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.footer__image {
    height: 48px;
    width: 48px;
}